<div class="main">
    <div class="homePage">
        <app-header></app-header>
        <app-navbar></app-navbar>
        

    </div>
    <div >
        
        <div class="content-box"  >
            
            <div class="title-box" style="color: #ffff;font-family:'Times New Roman', Times, serif;" *ngFor="let t of content"> 
                <div class="box-title">
                    <h4>{{t.title | uppercase }}</h4><br>
                    <hr>
                    <p>{{t.content}}</p><br><hr>
                    <button class="btn" (click)="onclick()">{{like ? "Liked" : "Like"}}</button>
                </div>
            </div><hr>
            
        </div>
    </div>
</div>
